.about{
    width: 100%;
    height: 50vh;
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('../components/assets/6.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about h1{
    font-size: 3.5rem;
    font-family: var(--text-font);
    color: var(--white);
}