.feature_container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    font-family: var(--text-font);
}
.f_left,.f_right{
    padding: 1rem;

}
.f_img img{
    width: 100%;
    max-width: 550px;
}
.gallery{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    flex-wrap: wrap;
    gap: 10px;
}
.gallery img{
    width: 100%;
    max-width: 120px;
    transition: .3s ease;
    cursor: pointer;
}
.gallery img:hover{
    border: 2px solid var(--color-primary);
    transition: .3s ease;
}
.f_right h4{
font-size: .8rem;
padding-bottom: 1.5rem;
}
.f_right h2{
    font-size: 1.8rem;
}
.f_right h3{
    font-size: 1.2rem;
}
.option{
    margin-top: .5rem;
    margin-bottom: .3rem;
}
select{
    padding: 5px 1px;
    font-family: var(--text-font);
    outline: none;

}
.quantity{
    display: flex;
    gap: 1rem;
    padding-top: 1rem;
    margin-bottom: 1rem;
}
.quantity button{
    background: var(--color-primary);
    font-family: var(--text-font);
    padding: .5rem;
    border: none;
    border-radius: 3px;
    outline: none;
    cursor: pointer;

}
h2.product_details{
    font-size: 1.6rem;
    padding-bottom: 1rem;
}
.counter{
    display: flex;
    align-items: center;
    justify-content: center;
}
.counter button{
    background: #e6e6e6;
    width: 50px;
    height: max-content;
    font-size: 16px;
    font-weight: 700;
}
.counter span{
    display: inline-block;
    width: 30px;
    text-align: center;
}
@media only screen and (max-width: 1002px){
    .gallery{
        display: none;
    }
}