/* import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
::-webkit-scrollbar{
  display: none;
}
:root{
  --color-primary: #717FE0;
  --color-secondary: #F74877;
  --black: #000000;
  --white: #ffffff;
  --head-font: 'Cormorant SC', serif;
  --text-font: 'Poppins', sans-serif;
  --transition: 0.3s ease;
  
}
html{
  scroll-behavior: smooth;
}
section{
  width: 100%;
  padding: 2rem 8%;
}
img{
  width: 100%;
}